:root {
  --color-grey: #9597a5;
  --color-black: #2d314d;
  --color-main: #30c88f;
  --color-white: #fff;
  --color-grey-light: #f4f5f7;
  --color-grey-extra-light: #fafafa;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

figure,
picture {
  display: block;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* styling main nav */
.nav {
  background: linear-gradient(
    180deg,
    #2d314d 0%,
    rgba(45, 49, 77, 0.0001) 100%
  );
  position: absolute;
  top: 64px;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  padding: 24px;
}

.nav .links {
  background-color: var(--color-white);
}

.nav a {
  display: block;
  padding: 12px 0px;
}

.typography-links {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: -0.014rem;
}

/* .nav a {
  background-color: var(--color-white);
  padding: 12px 130px;
  width: 100%;
} */

.header {
  display: flex;
  padding: 22px 24px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  position: relative;
  z-index: 100;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .logo {
  height: 20px;
}

.header .button {
  display: none;
}

/* initializing main section  */

.main-container {
  padding: 322px 24px 88px;
}

.main-section {
  text-align: center;
  letter-spacing: -0.071rem;
}

.main-section .paragraph {
  margin-bottom: 32px;
}

.main__picture {
  background-image: url("./statics/bg-intro-mobile.svg");
  background-position-y: 40px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 402px;
  padding: 0px 24px;
  position: absolute;
  top: -52px;
  width: 100%;
}

.main__title {
  font-size: 4rem;
  font-weight: 300;
  color: var(--color-black);
  /* margin-top: 41px; */
  margin-bottom: 16px;
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-grey);
  letter-spacing: -0.023rem;
  line-height: 2.5rem;
}

.font-bold {
  font-size: 1.4rem;
  line-height: 2.8rem;
  font-weight: bold;
}

.button {
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  border-radius: 22px;
  color: var(--color-white);
  padding: 0.8rem 3.3rem;
  font-size: 1.4rem;
  line-height: 2.8rem;
  font-weight: bold;
}

.section-2 {
  background-color: var(--color-grey-light);
  align-items: center;
  padding: 64px 22px;
  text-align: center;
}

.section-2 .header2 {
  margin-bottom: 14px;
}

.header3 {
  font-size: 2rem;
  letter-spacing: -0.036rem;
  line-height: 2.8rem;
  font-weight: 300;
}

.articles {
  gap: 32px;
  margin-top: 56px;
}

.article1 {
  align-items: center;
  gap: 16px;
}
.article1 picture {
  width: 72px;
  margin-bottom: 8px;
}

.header2 {
  font-size: 3.2rem;
  letter-spacing: -0.057rem;
  font-weight: 300;
}

.section3 {
  padding: 88px 24px;
}

.section3 .header2 {
  margin-bottom: 31px;
}

.article2 picture {
  height: 200px;
}

.article2 .content {
  padding: 24px 31px;
  align-items: flex-start;
  gap: 8px;
}

.article2 h4 {
  font-size: 1rem;
  letter-spacing: -0.016rem;
  line-height: 1.8rem;
  font-weight: 400;
  color: var(--color-grey);
}

.article2 h3 {
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: -0.029rem;
  font-weight: 300;
  color: var(--color-black);
}

.article2 p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: -0.02rem;
  font-weight: 400;
  color: var(--color-grey);
}

.footer {
  background-color: var(--color-black);
  padding: 40px 77.5px;
  gap: 32px;
}
.icons {
  display: flex;
  gap: 16px;
}

.footer .icons figure {
  width: 24px;
  height: 24px;
}

.footer nav.flex-column {
  gap: 8px;
  color: var(--color-white);
}

.footer .paragraph {
  margin-top: -8px;
}
@media screen and (min-width: 1280px) {
  .button:hover {
    opacity: 0.4;
  }
  .nav {
    background: initial;
    position: initial;
    width: 100%;
    height: auto;
  }

  .nav a {
    padding-bottom: 20px;
    border-bottom: 4px solid transparent;
  }
  .nav a:hover {
    border-bottom: 4px solid var(--color-main);
  }
  .nav .flex-column {
    flex-direction: row;
    gap: 30px;
    justify-content: center;
  }

  .burguer-menu {
    display: none;
  }
  .header .button {
    display: initial;
    width: max-content;
    min-width: 163px;
  }
  .header {
    padding: 18px 165px;
    padding-bottom: 0px;
    height: 80px;
  }

  .header .logo {
    min-width: 139px;
  }

  /* main section, fist section */
  .main-container {
    background-color: var(--color-grey-extra-light);
  }

  .main-container .main-section.flex-column {
    flex-direction: row-reverse;
  }

  .main-container {
    padding: 250px 828px 170px 165px;
  }
  .main__picture {
    width: calc(732px + 187px);
    height: 900px;
    padding-left: 187px;
    top: -42px;
    right: -112px;
    background-image: url("./statics/bg-intro-desktop.svg");
    background-size: 1371px 956px;
    background-repeat: no-repeat;
    background-position-y: -124px;
  }

  .main-section .content {
    width: 447px;
    text-align: left;
  }

  .main-section .content.flex-column {
    align-items: flex-start;
  }

  .section-2 {
    padding: 96px 165px 94px;
  }

  .section-2 header {
    max-width: 635px;
    text-align: left;
    align-self: flex-start;
  }
  .articles {
    flex-direction: row;
  }

  .article1 {
    width: 255px;
    text-align: left;
  }

  .article1.flex-column {
    align-items: flex-start;
  }

  .section3 {
    padding: 80px 165px;
  }

  .section3.flex-column {
    align-items: flex-start;
  }

  .section3 .articles {
    display: flex;
  }

  .article2 {
    width: 255px;
  }

  .article2 .content p {
    width: 207px;
  }

  .footer {
    padding: 48px 165px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "logo nav button"
      "icons nav paragraph";
  }

  .footer .logo {
    grid-area: logo;
  }

  .footer .icons {
    grid-area: icons;
  }

  .footer nav.paragraph {
    grid-area: nav;
  }

  .footer nav a:hover {
    color: var(--color-main);
  }

  .footer nav.flex-column {
    flex-direction: row;
    gap: 30px;
  }
  .footer nav div {
    gap: 8px;
    width: 160px;
  }

  .footer button {
    grid-area: button;
    max-width: 163px;
    justify-self: flex-end;
  }

  .footer .paragraph {
    grid-area: paragraph;
    justify-self: flex-end;
  }

  .footer .icons path:hover {
    cursor: pointer;
    fill: var(--color-main);
  }
}
